/*
* {
    margin: 0%;
}

#container {
    width: 1000px;
}
.m-40 {
    margin: 40px;
}


h1, h2 {
    color: white;    
    font-size: 80px;   
    background: black;
}
*/
/* 
    h1 {
    border: 1px solid red;
    margin: 200px;
    padding: 60px;
}
*/

 /*@import 'https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'; 

 h1 {
     color: blue;
     font-family: 'Dela Gothic One', cursive;
 } */

 
 /*
 #mytitle,
 #mytitle strong {
     color: hotpink;
 }

 .title {
     color: red;
 }

 h1 {
     color: royalblue;
 }
 p {
    color: indigo;
}

 * {
     color: green;
 }
*/


 









